img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.container {
    position: relative;
    margin-top: 100px;
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#prev {
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-size: 1.5rem;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 16px;
    font-size: 1.5rem;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dots {
    height: 15px;
    margin: 2%;
}

.dot {
    height: 5px;
    width: 40px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 5%;
    margin: 0 2px;
    transition: background-color 0.4s ease;
}

.active {
    background-color: #717171;
}

@media screen and (max-width: 768px) {
    img {
        width: 95vw;
        height: 60vw !important;
    }
    .container {
        width: 95vw;
        height: 60vw !important;
    }
}